# data files
*.201*[0-9]
*.cat
*.csv
*.dat
*.fits*
*.gz
*.head
*.log
*.nnw
*.out
*.ps*
*.reg
sex*
*.tgz
*.xml
*.xtalk

# directories
heads/
matplotlib/
qa/
usr/
.astropy/
.eups/

.desservices.ini

# generated
*.pyc
*.swp
*~
confFile
listpcain
*.dag

# logs
error*
output*
