# data files
*.201*[0-9]
*.cat
*.csv
*.dat
*.DAT
*.fits*
*.filterObj
*.gz
*.head
*.ini
*.input
*.lis
*.list
*.LIST
*.nnw
*.out
*.param
*.ps*
*.scamp
*.reg
RUN*
*sex*
*.stdout
*.tgz
*.xml
*.xtalk

# scripts
dummyjob.sh
makeWSTemplates.sh

# directories
data/
/dp*
heads
headers
ingest
matplotlib/
mytemp_*/
oradiag_nglaeser/
plots/
qa/
stamps*
syspfiles*
temp/
usr/
WSTemplates/
.astropy/
.easyaccess/
.eups/

# test directories
diff*
exp440/
exp443/
gaia-scamp/
r4p6test/
r4p7test/
SEdiff-mock1/
seriestest/
SEverifytest/

.desservices.ini

# generated
*.pyc
*.swp
*.swarp
*~
listpcain
*.dag

# config files
confFile
dagmaker.rc

# logs
*error*
*output*
*.log
*.LOG
